# Display
fullscreen = true

# Emulation
emulation_speed = 1.0

# Rendering
background_color = e7e7e7
pixel_color = 070707

# Input
input_up = KEY_GRAVE
input_left = KEY_LEFT
input_down = KEY_DOWN
input_right = KEY_RIGHT

# Hotkeys
toggle_fullscreen = KEY_F